* {
    margin: 0px;
    padding: 0px;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Gantari', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Oleo Script', cursive;
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-bottom: 200px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: cover;

    ;



}

.banner-container {
    width: 50%;


}

.banner-content {
    padding-left: 52px;
}

.banner-content p {
    color: gray;
    font-size: 18px;
    line-height: 30px;
    ;
    text-align: justify;
    ;
}

.common-btn {
    font-size: 20px;
    background-image: linear-gradient(120deg, tomato, orange);
    padding: 20px 60px;
    border: none;
    border-radius: 7px;
    margin: 20px 0px;
}

.common-btn a {
    text-decoration: none;
    color: white;
    font-weight: bold;

    ;
}

.common-title {
    font-size: 20px;
    padding: 20px 0px;
}

.banner-image {
    width: 50%;
}

.banner-image img {
    width: 70%;
    padding-left: 56px;
}

.banner-title {
    font-size: 70px;
    color: tomato;
    line-height: 121px;

    ;
}

.seciton2 {
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
    ;
}

.experience-section {
    width: 100%;
    height: 100vh;

}

.experience-title {
    text-align: center;
    ;
    font-size: 33px;
    margin-bottom: 50px;
    ;



}

.card-container {
    display: flex;
    justify-content: center;
    ;
}

.card1 {
    width: 350px;
    height: 300px;
    padding: 20px;
    background: gray;
    border-radius: 7px;
    text-align: justify;
    margin: 0px 20px;
}

.card1 h1 {
    font-size: 40px;
    padding-bottom: 20px;
    text-align: center;
    ;
}

.footer-part {
    background-color: tomato;

    padding: 20px 40px;
    text-align: center;
    ;

}

#title-style {
    font-family: 'Oleo Script', cursive;
    color: rgb(247, 247, 247);
    font-size: 30px;
    ;
}